<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="index.css"/>
</head>
<body>
<div id="main-panel">
    <label>name:</label>
    <input type="text" name="name"/>

    <label>surname:</label>
    <input type="text" name="surname"/>

    <label>age:</label>
    <input type="text" name="age"/>

    <label>scholarship:</label>
    <input type="text" name="scholarship"/>

    <button class="btn">Search</button>
    <button class="btn">Add</button>
    <button class="btn">Delete</button>
    <table class="blueTable">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>surname</th>
                <th>age</th>
                <th>scholarship</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Emin</td>
                <td>Zeynalov</td>
                <td>28</td>
                <td>200</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Fidan</td>
                <td>Abilhasanli</td>
                <td>27</td>
                <td>300</td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>